<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allysonjeronimo.toshop">

    <application
        android:name=".ToShopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.preferences.PreferencesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.shoppinglists.ShoppingListsActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shoppinglists.ShoppingListsActivity" />
        </activity>

        <activity android:name=".ui.about.AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.shoppinglists.ShoppingListsActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shoppinglists.ShoppingListsActivity" />
        </activity>
        <activity
            android:name=".ui.itemform.ItemFormActivity"
            android:parentActivityName=".ui.items.ItemsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.items.ItemsActivity" />
        </activity>
        <activity
            android:name=".ui.items.ItemsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.shoppinglists.ShoppingListsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shoppinglists.ShoppingListsActivity" />
        </activity>
        <activity
            android:name=".ui.shoppinglistform.ShoppingListFormActivity"
            android:parentActivityName=".ui.shoppinglists.ShoppingListsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shoppinglists.ShoppingListsActivity" />
        </activity>
        <activity
            android:name=".ui.shoppinglists.ShoppingListsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:parentActivityName=".ui.splash.SplashActivity"
            android:launchMode="singleTop"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.splash.SplashActivity" />
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>